<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <link rel='shortcut icon' href='favicon.ico'/>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{description}}">
    <meta name="author" content="{{author}}">
    <meta name="keywords" content="docker, docker tutorial, docker guide, containers, getting started, beginners">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|PT+Mono&amp;subset=latin,cyrillic">
    <title>{{title}}</title>
    {{>meta}}
    {{>styles}}
</head>
<body>
    <nav>{{>nav}}</nav>
    <div class="container">
        <main>
            <div class="masthead">{{>masthead}}</div>
            {{{contents}}}
        </main>
    </div>
{{>analytics}}
{{>sw}}
</body>
</html>
