<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <link rel='shortcut icon' href='favicon.ico'/>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{description}}">
    <meta name="author" content="{{author}}">
    <meta name="keywords" content="docker, docker tutorial, docker guide, containers, getting started, beginners">
    <title>{{title}}</title>
    {{>meta}}
    {{>styles}}
</head>
<body>
{{{ contents }}}

{{>analytics}}
{{>sw}}
</body>
</html>
