<picture>
    <source type="image/webp" srcset="images/logo.webp">
    <img src="images/logo.png" alt="Docker for Beginners logo">
</picture>
<p class="lead">
    Learn to build and deploy your distributed applications easily to the cloud with Docker
</p>
<p class="lead">
    Written and developed by <a href="https://prakhar.me">Prakhar Srivastav</a>
</p>
<p class="masthead-links">
    <a href="https://github.com/prakhar1989/docker-curriculum">
        <i class="demo-icon icon-github-circled">&#xf09b;</i>
    </a>
    <a href="https://twitter.com/prakharsriv9">
        <i class="demo-icon icon-twitter">&#xf099;</i>
    </a>
</p>