<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="{{title}}">
<meta property="og:title" content="{{title}}"/>
<meta property="og:type" content="article"/>
<meta property="og:locale" content="en_US"/>
<meta property="og:url" content="{{url}}"/>
<meta property="og:description" content="{{description}}"/>
<meta property="og:image" content="{{logo}}"/>

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@prakharsriv9">
<meta name="twitter:creator" content="@prakharsriv9">
<meta name="twitter:title" content="{{title}}"/>
<meta name="twitter:description" content="{{description}}"/>
<meta name="twitter:image" content="{{logo}}"/>