<link rel='manifest' href='manifest.json'>
<meta name='mobile-web-app-capable' content='yes'>
<meta name='theme-color' content="#1AC3EF">
<meta name='apple-mobile-web-app-capable' content='yes'>
<meta name='application-name' content='Air Horner'>
<meta name='apple-mobile-web-app-status-bar-style' content='black'>
<meta name='apple-mobile-web-app-title' content='Docker Curriculum'>
<meta name='msapplication-TileColor' content='#1AC3EF'>

<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="{{title}}">
<meta property="og:title" content="{{title}}"/>
<meta property="og:type" content="article"/>
<meta property="og:locale" content="en_US"/>
<meta property="og:url" content="{{url}}"/>
<meta property="og:description" content="{{description}}"/>
<meta property="og:image" content="{{logo}}"/>

<meta name="twitter:card" content="summary_large_image">
<meta name='twitter:url' content="https://docker-curriculum.com/">
<meta name="twitter:creator" content="@prakharsriv9">
<meta name="twitter:title" content="{{title}}"/>
<meta name="twitter:description" content="{{description}}"/>
<meta name="twitter:image" content="{{logo}}"/>