<ul>
    <li>
        <a href="#introduction">Introduction</a>
        <ul>
            <li>
                <a href="#">What is Docker?</a>
            </li>
            <li>
                <a href="#">What are containers?</a>
            </li>
            <li>
                <a href="#">Why should I use it?</a>
            </li>
            <li>
                <a href="#">What will this tutorial teach me?</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#introduction">Getting Started</a>
        <ul>
            <li>
                <a href="#prerequisites">Prerequisites</a>
            </li>
            <li>
                <a href="#setup">Setting up your computer</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">Hello World</a>
        <ul>
            <li>
                <a href="#busybox">Playing with Busybox</a>
            </li>
            <li>
                <a href="#dockerrun">Docker Run</a>
            </li>
            <li>
                <a href="#terminology">Terminology</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">Our First App</a>
        <ul>
            <li>
                <a href="#webapps">Webapps with Docker</a>
            </li>
            <li>
                <a href="#static-site">Static Sites</a>
            </li>
            <li>
                <a href="#docker-images">Docker Images</a>
            </li>
            <li>
                <a href="#our-image">Our First Image</a>
            </li>
            <li>
                <a href="#dockerfiles">Dockerfile</a>
            </li>
            <li>
                <a href="#docker-aws">Docker on AWS</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">Foodtrucks</a>
        <ul>
            <li>
                <a href="#multi-container">Multi-container Environments</a>
            </li>
            <li>
                <a href="#foodtrucks">SF Food Trucks</a>
            </li>
            <li>
                <a href="#docker-network">Docker Network</a>
            </li>
            <li>
                <a href="#docker-compose">Docker Compose</a>
            </li>
            <li>
                <a href="#aws-ecs">AWS Elastic Container Service</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">Conclusion</a>
        <ul>
            <li>
                <a href="#wrap-up">Wrap Up</a>
            </li>
            <li>
                <a href="#next-steps">What Next?</a>
            </li>
            <li>
                <a href="#feedback">Give Feedback</a>
            </li>
            <li>
                <a href="#references">References</a>
            </li>
        </ul>
    </li>
</ul>